
.intro{
    width: 100%;
    height:896px;
    background-image:linear-gradient(180deg, #6F7DFB 0%, #26308C 100%);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    
 

header{
    width: 100%;
    padding: 0px 32px;
    box-sizing: border-box;
    height: 59px;
    margin-top: 42px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
   
  
 
    .logo{
        color: #FFF;
        font-family: raleway;
        font-size: 36px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        text-transform: capitalize;
        
        
        }
        #menu:checked ~ .menu {
            left:0%;
        } 
    label[for=menu]{
        width:10%;
        
       
        display:flex;
        align-items: center;
    svg{
        width: 40px;
        height: 40px; line-height: 40px;
    }
    
    }
    #menu, #close{
        display: none;
    }



    .menu{
        background-color: #070917;
        height: 896px;
        width: 100%;
        position: absolute;
        z-index: 999;
        top: 0;
        left: -100%;
        transition: 300ms;
      

   
    }
    nav {
        width: 100%;
        height: inherit;
        display: flex;
        flex-flow: column-reverse nowrap;
        justify-content:flex-end;
        align-items: center;
       
    
        label[for=close]{
            width:100%;
            height:10%;
            box-sizing: border-box;
            padding-right: 20px;
             display: flex;
             justify-content:right;
             align-items: end;
            
         

             
         
         svg{
             width: 40px;
             height: 40px;
            
         }
         }


    ul {
        width: 100%;
        height: 90%;
        list-style: none;
        display: flex;
        flex-flow: column nowrap;
       justify-content: center;
       align-items: center;
      row-gap: 30px;
  
     
    li {
       
      
        display: flex;
      
    a {
    display: block;
    width: auto;
    color: #FFF;
    font-family: poppinsmed;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    line-height: normal;

 
    }
    
    button {
      
        display: block;
        display: inline-flex;
        padding: 12px 32px;
        align-items: flex-start;
        gap: 10px;
        border-radius: 24px;
        background: #DA722C;
        border: unset;
        margin: 0 auto;
        box-sizing: border-box;
        color: #FFF;
        font-family:poppinsbold;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        cursor: pointer;

    }
    }
    }
    }

 
}

.introimage{
    width:100%;
    height: calc(896px - 59px);
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
   row-gap: 16px;

.left{
    width:91%;
    display: flex;
    flex-flow: column nowrap;
    justify-content:center;
    align-items:flex-start;
    row-gap:18px;
   
    
    
   
h2{
    font-family: raleway;
    font-size: 36px;
    font-style: normal;
    font-weight: 900;
    line-height: 125%;
    color: #fff;
    width:70%;
   
}
p {
   
    width: 100%;
    color: #FFF;
    font-family: poppinsmed;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: 200%;
   width: 90%;
   
}

div{
   
    width: 100%;

    button{
        display:inline-flex;
        padding: 12px 32px;
        align-items: center;
        gap: 10px;
        border-radius: 24px;
        background: #DA722C;
        border:unset;
        color: #FFF;
        font-family:poppinsbold;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        
       
   img {
           width: 16px;
           height: 16px;
   }
   
   span {
   color: #FFF;
   font-family: poppinsbold;
   font-size: 16px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
   }
   }
}



}

.center{
    width:45%;
    display: flex;
    flex-flow: column nowrap;
    justify-content:center;
    align-items: flex-end;
    row-gap: 105px;
 
   
.top{
    width:70%;
    height: 75px;
    border-radius: 24px;
    background: #FFF;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    border: unset;
    box-shadow:10px 10px 5px #26308C, 10px 10px 5px #26308C;

   

.number{
    color: #023047;
    font-family:poppinsbold;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%
}

.passage{
    color: #023047;
    font-family: poppinsmed;
    font-size: 14px;
    font-style: normal;
    font-weight: 800;
    line-height: 125%;
   
}
}


.bottom{
    width: 65%;
    height: 75px;
    border-radius: 24px;
    background: #FFF;
    border: unset;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    box-shadow:10px 10px 5px #26308C, 10px 10px 5px #26308C;

.number{
    color: #023047;
    font-family:poppinsbold;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
    display: flex;
    align-items: center;
    gap: 5px;

svg{
    width: 35px;
    height: 35px;
}

}
.passage{
    color: #023047;
    font-family:poppinsmed;
    font-size: 14px;
    font-style: normal;
    font-weight: 800;
    line-height: 125%;
}
}
}

.right{
    width:55%;
    display: flex;
    align-items: end;
  
  
    img{
        width:100%;
        object-fit: cover;
    }
  


}

}
}


